{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="section-trainee" >
    
        <div class="trainee_signupcontent">
            
            <form method="post" enctype="multipart/form-data" class="trainee_signupform" >
                {% csrf_token %}
                <div class="trainee_register_h1">

                    <div class="trainee_register_h2">
                   <h1><i>Trainee</i></h1>
                    </div>
                    <div class="trainee_register_h3">
                      <h1><i>Register</i></h1>
                </div>
                </div>
                {{ form |crispy }}
              {{ tform|crispy }}
              {% if messages %}
            {% for message in messages %}
          
               <script>  alert("{{ message }}") ; </script>
          
            {% endfor %}
            {% endif %}
          
             <a href="{% url "login" %}"><input type="submit" value="SignUp" class="signup"></a>
                <h1><a href="{% url "login" %}">Already have an account ?</a></h1>
            </form>
            
        </div>
    </div>
    {% endblock %}